<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Azure Dashboard</a>
        <div class="navbar-nav">
            <button class="nav-link text-white active">Computer Vision</button>
        </div>
        <div class="navbar-nav">
            <button class="nav-link text-white active">Lenguaje</button>
        </div>
        <div class="navbar-nav">
            <button class="nav-link text-white active">Chat Bot</button>
        </div>
    </div>
</nav>

